---
interface Props {
  title: string;
  description: string;
  isBig?: boolean;
}

const { title, description, isBig } = Astro.props;
---

<div
  class:list={[
    "flex justify-between about__card shadow-xs items-center w-full p-8 rounded-lg",
    isBig
      ? "bg-primary text-white"
      : "bg-white [&>p]:text-secondary/80"
  ]}
>
  <p class="max-w-[50%]">{description}</p>
  <h4 class="text-3xl">{title}</h4>
</div>