---
import LeftArrow from "./icons/LeftArrow.astro";
import RightArrow from "./icons/RightArrow.astro";

const images = [
  "/image.jpg",
  "/nova_showcase.png",
  "/image.jpg",
  "/image.jpg",
];
---

<section class="relative w-screen mt-20 mb-20">
  <div class="overflow-hidden">
    <div id="carousel-track" class="flex gap-3">
      {
        images.map((src) => (
          <img
            src={src}
            alt="Carousel Image"
            class="carousel-slide h-[400px] w-[600px] rounded-lg object-cover shrink-0"
          />
        ))
      }
    </div>
  </div>

  <div class="absolute top-1/2 left-0 right-0 z-10 flex justify-center -translate-y-1/2">
    <div class="w-[80%] flex justify-between">
      <button id="carousel-prev">
        <LeftArrow />
      </button>

      <button id="carousel-next">
        <RightArrow />
      </button>
    </div>
  </div>
</section>

<script>
  import initCarousel from "../scripts/animations/Carousel";
  initCarousel();
</script>