---
import Card from "./Card.astro";
---

<section class="w-screen mb-10 mt-40" id="features">
  <div
    class="flex flex-col space-y-10 items-start  justify-center w-[90%] mx-auto"
  >
    <div class="flex items-start w-full justify-between">
      <h3 class="font-semibold text-primary text-lg">
        [02 Caracteristicas]
      </h3>
      <h2
        class="text-secondary text-5xl text-right [&>span]:text-primary font-bold max-w-[60%]"
      >
        Ofrece más que solo una herramienta - <span>Ofrece control</span>.
      </h2>
    </div>
    content here
    <div class="w-full space-y-2">
    </div>
  </div>
</section>
