<footer class="w-screen flex-center pt-50 pb-2">
  <section class="w-[99%] bg-primary rounded-lg p-5 flex flex-col">
    <div class="flex justify-between items-center">
      <ul class="flex items-center [&>li>a]:px-5 [&>li>a]:text-zinc-400 [&>li>a]:text-sm">
        <li><a href="#about">[ ¿Qué es? ]</a></li>
        <li><a href="#features">[ Caracteristicas ]</a></li>
        <li><a href="#workflow">[ Uso ]</a></li>
      </ul>
      <ul class="flex items-center [&>li>a]:px-5 [&>li>a]:text-zinc-400 [&>li>a]:text-sm">
        <li><a href="#">[ Instagram ]</a></li>
        <li><a href="#">[ Twitter ]</a></li>
      </ul>
    </div>

    <div class="flex-center py-40">
      <h2 class="text-center footer__title text-5xl font-semibold text-zinc-400 [&>span]:text-white">
        La educación merece lo mejor.<br/> <span>Merece a Nova.</span>
      </h2>
    </div>

    <div class="flex items-end justify-between">
      <div class="flex gap-8">
        <span>
          <h4 class="text-zinc-400 font-sm">Correo</h4>
          <a class="text-white hover:underline text-2xl" href="mailot:asistente.nova.peru@gmail.com" >asistente.nova.peru@gmail.com</a>
        </span>
        <span>
          <h4 class="text-zinc-400 font-sm">Telefono</h4>
          <a class="text-white hover:underline text-2xl" href="https://api.whatsapp.com/send?phone=51993416828" target="_blank">+51 993 416 828</a>
        </span>
      </div>
      <div>
        <ul class="flex items-center [&>li>a]:px-5 [&>li>a]:text-zinc-400 [&>li>a]:text-sm">
          <li><a href="#">[ Politica ]</a></li>
          <li><a href="#">[ Términos ]</a></li>
        </ul>
      </div>
    </div>

  </section>
</footer>

<script>
  import footerAnimation from '../scripts/animations/Footer'
  footerAnimation()
</script>