<header class="w-screen flex-center py-4">
  <nav class="flex items-center justify-between w-[90%]">
    <img class="size-16" src="/logo.webp" alt="Logo de NOVA">
    <ul class="flex items-center [&>li>a]:px-5 [&>li>a]:text-secondary">
      <li><a href="#about" class="hover:text-primary">[ ¿Qué es? ]</a></li>
      <li><a href="#features" class="hover:text-primary">[ Caracteristicas ]</a></li>
      <li><a href="#workflow" class="hover:text-primary">[ Uso ]</a></li>
      <li><a href="#pricing" class="hover:text-primary">[ Planes ]</a></li>
      <a class="box-content py-2 px-2 rounded-full bg-primary ml-5 text-white px-7" href="#purchase" >Adquierelo</a>
    </ul>
  </nav>
</header>