<header class="w-screen flex-center py-4">
  <nav class="flex items-center justify-between w-[90%]">
    <img class="" src="#" alt="Logo de NOVA">
    <ul class="flex items-center [&>li>a]:px-5">
      <li><a href="#about">[ ¿Qué es? ]</a></li>
      <li><a href="#features">[ Caracteristicas ]</a></li>
      <li><a href="#faq">[ FAQ ]</a></li>
      <li class="box-content py-2 px-2 rounded-full bg-primary text-white ml-5"><a href="#purchase">Adquierelo</a></li>
    </ul>
  </nav>
</header>