---
import Fact from "./Fact.astro"
---

<main class="w-screen flex-center pt-10 pb-0">
  <section class="w-[90%]">
    <h1 class="hero__title text-primary text-center text-[12rem] font-bold my-10">Nova</h1>
    <section class="w-full flex items-center justify-between">
      <div class="flex gap-10">
        <Fact title="10+" description="Caracteristicas útiles" />
        <Fact title="5+" description="Colegios usandolo" />
        <Fact title="5k+" description="Alumnos satisfechos" />
      </div>
      <p class="[&>span]:font-semibold text-secondary max-w-[550px]">
        Hicimos a <span>Nova</span> como una <span>solución</span> para simplificar la administración de tareas y actividades del aula, y a su vez, ser una <span>herramienta</span> para los estudiantes.
      </p>
    </section>
  </section>
</main>
<script>
  import heroAnimation from "../scripts/animations/Hero";

  heroAnimation();
</script>