---
interface Props {
  title: string;
  description: string;
  step: number;
}

const { title, description, step } = Astro.props;
---

<div
  class="flex items-start shadow-xs w-full p-8 rounded-lg w-full bg-white"
>
  <span class="text-4xl self-start workflowcard-step text-secondary font-semibold pr-10">0{step}</span>
  <div class="flex flex-col justify-between items-start space-y-8">
    <h2 class="text-4xl text-primary">{title}</h2>
    <p class="text-secondary max-w-[500px]">{description}</p>
  </div>
</div>
